.tab-btn{
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  border: transparent;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 40px;
  color: #2E8BC0;
      font-weight: 600;
  text-decoration: none;
  box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
  4px 4px 15px rgba(0, 0, 0, 0.1);
}

.tab-btn:hover {
  box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
  inset 4px 4px 10px rgba(0, 0, 0, 0.1);
}