.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  /* color: #499e5f; */
  color: #79bab7;
  /* color: #87c0cc; */
  margin-top: 100px;
}

.tab {
  min-height: 40px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  border: transparent;
  padding: 30px 60px;
  border-radius: 40px;
  /* color: #32a3b1; */
  color: #2E8BC0;
  /* color: EF7C8E; */
  font-size: 10px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
      4px 4px 15px rgba(0, 0, 0, 0.1);
}

.tab:hover {
  color: #79bab7;
  box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
  inset 4px 4px 10px rgba(0, 0, 0, 0.1);
}

/* .tab-delete-btn{
  border: none;
  background: transparent;
  display: none;
  color: #2E8BC0;
  font-weight: 900;
}

.tab:hover  ~.tab-delete-btn:hover{
  display: block !important;
} */

.tab-info {
  margin-top: 50px;
  font-size: 10px;
  font-weight: 600;
  color: #2E8BC0;
}

.tabs-container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  align-items: center;
}

.main-wrapper{
  display: flex;
  justify-content: flex-start;
}